@import '../../style/index.less';

@height: 64px;

.l-pagination {
  .pagination-box {
    height: @height;

    /** 总数量 */
    .ant-pagination-total-text {
      .flex-1;
    }

    /** 每一个数字 */
    .ant-pagination-item {
      &:hover {
        border-color: @theme-color-button;
        a {
          color: @theme-color-button;
        }
      }

      a {
        line-height: 32px;
      }
    }

    /** 选中颜色 */
    .ant-pagination-item-active {
      .theme-color-button;
      .border-0;
      a {
        .color-FFFFFF;
        &:hover {
          .color-FFFFFF;
        }
      }
    }

    /** 上/下一页按钮 */
    :is(.ant-pagination-next:hover, .ant-pagination-prev:hover) .ant-pagination-item-link {
      border-color: @theme-color-button;
      color: @theme-color-button;
    }

    /** 快进 */
    :is(.ant-pagination-jump-next, .ant-pagination-jump-prev)
      .ant-pagination-item-container
      .ant-pagination-item-link-icon {
      color: @theme-color-button;
    }
  }

  /** 分页选择下拉 */
  .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    .text-color-button;
    .theme-color-dropdown;
  }
}
