@import '../../style/index.less';

.l-toast {
  .ant-btn:hover {
    .text-color-button;
    border-color: @theme-color-button;
  }

  /** ok按钮 */
  .ant-btn-primary {
    .theme-color-button;
    border-color: @theme-color-button;
    &:hover {
      color: #fff;
    }
  }
}
